{% extends 'base.html.twig' %}




{% block title %}MMA PULSE !{% endblock %}








{% block body %}

    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.js"
            integrity="sha256-DBxkGZLxKsLKhz054qUpBqtotG00r9AELGpSigJujLg=" crossorigin="anonymous"></script>

    <header class="homeheader ">

        <nav class="navbar navbar-expand-lg navbar-light p-4 ">
            <div class="container-fluid ">
                <a class="navbar-brand text-light" href="#">MMA Pulse </a>
{#                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"#}
{#                        data-bs-target="#navbarNavDropdown"#}
{#                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">#}
{#                    <span class="navbar-toggler-icon"></span>#}
{#                </button>#}

                <div class=" " >
                    <ul class="navbar-nav ms-auto ">

                        <li class="nav-item">
                            <a class=" mx-2" href="{{ path('app_discipline') }}">Disciplines</a>
                        </li>

                        <li class="nav-item">
                            <a class=" mx-2" href="#">Planning</a>
                        </li>
                        <li class="nav-item">
                            <a class=" mx-2" href="{{ path('app_contact') }}">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class=" text-citation container">

            <h1 id="text"></h1>
        </div>
    </header>


<div class="presentation container mt-5">
    <div class="row">
        <div class="col-12 col-sm-6">
            <img src="https://i.pinimg.com/564x/0a/b8/6c/0ab86cde2a95bcbe09b909339b64a63a.jpg" alt="" class="img-fluid">
        </div>
        <div class="col-12 col-sm-6 d-flex align-items-center">
            <div>
                <h2 class="text-dark fw-bold">Bienvenue au club </h2>
                <p style="margin-top: 10px">Découvrez l'excitation du MMA avec nous! Chez [Nom du Club], nous vous offrons un entraînement de classe mondiale dirigé par des instructeurs expérimentés. Que vous soyez débutant ou expert, notre club est l'endroit idéal pour développer vos compétences en MMA. Rejoignez notre communauté passionnée aujourd'hui et libérez votre potentiel!</p>
                <small style="color: #970011" class="fw-bold">"La première règle du club ?" </small>
            </div>
        </div>
    </div>
</div>


<hr>





<div class="club container mt-5 mb-5">
    <div class="row">

        <div class="col-7  d-flex align-items-center">
            <div>
                <h2 class="text-dark fw-bold">20 rue Charles de Gaulle</h2>

               <p style="margin-top: 10px">Située au cœur de la ville de Troyes au 20 rue Charles de Gaulle, notre salle de MMA offre un environnement dynamique pour les passionnés de sports de combat. Équipée des derniers appareils et des sacs de frappe de qualité professionnelle, notre salle est l'endroit idéal pour perfectionner vos techniques et augmenter votre niveau de forme physique.</p>
               <small style="color: #970011" class="fw-bold" >"La dernière règle : si c'est votre première soirée au Mma pulse, vous devez vous battre." </small>
            </div>
        </div>

          <div class="col-5 ">
            <img src="https://i0.wp.com/www.cssscript.com/wp-content/uploads/2018/03/Simple-Location-Picker.png?fit=561%2C421&ssl=1" alt="">
        </div>
    </div>
</div>

<hr >


<h2 class="text-center fw-bold" style="margin-top: 150px;">ABONNEMENT 2023-<span style="color: #970011">2024</span> </h2>


  <div class="tarif container-fluid ">

    <div class="container p-5"  style="height: 70vh">
      <div class="row">
        <div class="col-lg-4 col-md-12 mb-4">
          <div class="card card1 h-100">
            <div class="card-body ">
              <h5 class="card-title">Basic</h5>
              <small >Saison 2023-2024</small>
              <br><br>
              <span class="h2">20€</span>/mois
              <br><br>
              <div class="d-grid my-3">
                <button class="btn  btn-block">220 euros</button>
              </div>
              <ul>
                <li>MMA</li>
                <li>Jujitsu brésilien </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 mb-4">
          <div class="card card2 h-100">
            <div class="card-body">

              <h5 class="card-title">Standard</h5>
            <small>Saison 2023-<span>2024</span></small>

              <br><br>
                    <span class="h2">25€</span>/mois
              <br><br>
              <div class="d-grid my-3">
                <button class="btn  btn-block">270 euros</button>
              </div>
              <ul>
                 <li>Lutte</li>
                <li>Jujitsu brésilien </li>
                <li>Boxe anglaise</li>

              </ul>
            </div>


          </div>
        </div>
        <div class="col-lg-4 col-md-12 mb-4">
          <div class="card card3 h-100">
            <div class="card-body">

              <h5 class="card-title">All access</h5>
              <small>Saison 2023-2024</small>
              <br><br>
                   <span class="h2">35€</span>/mois
              <br><br>
   <div class="d-grid my-3">
                <button class="btn  btn-block">350 euros</button>
              </div>

                <li>Lutte</li>
                <li>Jujitsu brésilien </li>
                <li>Boxe anglaise</li>
                <li>MMA</li>

              </ul>

            </div>


          </div>
        </div>
      </div>
    </div>
  </div>



    <h2 class="text-center">Planning</h2>
    <div id="calendrier" class="mb-5">
    </div>





{#   {{ render(url('app_contact')) }}#}


{#Le formulaire #}
{#   {{ render(url('app_contact')) }}#}

{% endblock %}

    {% block javascripts %}
        {#        <script  src={{ asset('js/script.js') }}></script>#}




        {#    <script src="/public/js/script.js"></script>#}


        <script>
            document.addEventListener("DOMContentLoaded", function() {



                console.log("ehy")
                let placeholder = document.getElementById("text");
                let words = ["Il n’y a pas de talent ici, ce n’est que du travail. C’est une obsession. Le talent n’existe pas.", "En tant qu’humains, nous sommes tous égaux. Vous pouvez devenir qui vous voulez si vous y consacrez du temps."," Vous atteindrez le sommet, c’est comme ça. Je ne suis pas talentueux.", "Je suis obsédé.", "Mcgregor", "Je m'entraîne, je mange, je dors, et je recommence.", "Khabib"];
                let index = 0;

                function type(words) {
                    let i = 0;
                    let writing = setInterval(() => {
                        placeholder.innerHTML += words.charAt(i);
                        i++;
                        if(i >= words.length) {
                            clearInterval(writing);
                            setTimeout(erase, 1000);
                        }
                    }, 75);
                }

                function erase() {
                    let deleting = setInterval(() => {
                        placeholder.innerHTML = placeholder.innerHTML.slice(0, -1);
                        if(placeholder.innerHTML.length <= 0) {
                            clearInterval(deleting);
                            index++;
                            if(index >= words.length) {
                                index = 0;
                            }
                            type(words[index]);
                        }
                    }, 10);
                }

                type(words[index]);



                window.onload = () => {
                    let calendarElt = document.querySelector("#calendrier")

                    let calendar = new FullCalendar.Calendar(calendarElt, {
                        initialView: 'timeGridWeek',
                        locale: 'fr',
                        timeZone: 'Europe/Paris',
                        height: 860,
                        // day: "numeric",

                        headerToolbar: {
                            start: "",
                            center: "",
                            end: ''
                        },
                        events: {{data|raw}},
                        editable: true,
                        eventResizableFromStart: true,
                        hiddenDays: [0],
                        eventBorderColor: 'black',
                        slotMinTime: '12:00:00',
                        // slotMaxTime: '23:00:00',
                        // slotDuration: '01:00:00',
                        allDaySlot: false,
                        eventColor: 'red',
                        dayHeaderFormat: {weekday: 'long'}

                    })
                    calendar.on('eventChange',(e) => {
                        console.log(e);
                        let url = `/api/${e.event.id}/edit`
                        let donnees = {
                            "title": e.event.title,
                            "start": e.event.start,
                            "end": e.event.end,
                            "backgroundColor": e.event.backgroundColor,
                            "textColor": e.event.textColor,
                        }

                        let xhr = new XMLHttpRequest

                        xhr.open("PUT", url)
                        xhr.send(JSON.stringify(donnees))
                    })

                    calendar.render();
                }
            });


        </script>

    {% endblock %}