{% extends 'base.html.twig' %}

{% block title %}Planning{% endblock %}

{% block body %}
    <h1 class="text-dark">Planning</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ planning.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ planning.title }}</td>
            </tr>
            <tr>
                <th>Start</th>
                <td>{{ planning.start ? planning.start|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>End</th>
                <td>{{ planning.end ? planning.end|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Background_color</th>
                <td>{{ planning.backgroundColor }}</td>
            </tr>
            <tr>
                <th>Text_color</th>
                <td>{{ planning.textColor }}</td>
            </tr>
        </tbody>
    </table>



    <a href="{{ path('app_planning_index') }}" class="me-2">Retour à la liste</a>

    <a href="{{ path('app_planning_edit', {'id': planning.id}) }}">Modifier</a>

    {{ include('planning/_delete_form.html.twig') }}
{% endblock %}
